extends layout

block content
	//- h1= title
	button#addContactLink Add Contact
	div
		table
			thead
				tr: th Contacts
			tbody
				each contact in arr
					tr
						td #{contact.name}
						td
							a(href='/moreInfo/' +  '#{contact.email}') More Info
block script
	script(src='javascripts/main.js')
